<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Strona Logowania</title>
</head>
<body class="bg-gradient-primary">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-12 col-xl-10">
            <div class="card shadow-lg o-hidden border-0 my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col">
                            <div class="p-5">
                                <div class="text-center">
                                    <h4 class="text-dark mb-4">Logowanie</h4>
                                </div>
                                <form class="user" method="post" th:action="@{/web/login}">
                                    <div class="mb-3">
                                        <input id="username" name="username" class="form-control form-control-user" type="text" aria-describedby="emailHelp" placeholder="Wprowadź Login">
                                    </div>
                                    <div class="mb-3">
                                        <input id="password" name="password" class="form-control form-control-user" type="password" placeholder="Wprowadź Hasło"></div>
                                    <div class="mb-3">
                                        <div class="custom-control custom-checkbox small">
                                            <div class="form-check"><input class="form-check-input custom-control-input" type="checkbox" id="formCheck-1"><label class="form-check-label custom-control-label" for="formCheck-1">Zapamiętaj dane logowania</label></div>
                                        </div>
                                    </div><button class="btn btn-primary d-block btn-user w-100" type="submit">Zaloguj</button>
                                    <hr>
                                </form>
                                <div class="text-center"><a class="small" href="forgot-password">Nie pamiętam hasła</a></div>
                                <div class="text-center"><a class="small" th:href="@{/web/register}">Stwórz nowe konto</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>