<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="/static/css/style.css" th:href="@{/css/style.css}" type="text/css" rel="stylesheet">
    <title>Regulamin Strony</title>
</head>
<body class="bg-gradient-primary">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-12 col-xl-10">
            <div class="card shadow-lg o-hidden border-0 my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col" style="padding: 3rem;">
                            <h1 class="text-center" style="margin-bottom: 3rem;">Regulamin Strony</h1>
                            <p>1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vulputate magna et magna suscipit,
                                eu semper sem dignissim. Morbi posuere feugiat nulla, nec imperdiet nibh consectetur nec. Phasellus
                                interdum felis in orci congue aliquet. Class aptent taciti sociosqu ad litora torquent per conubia
                                nostra, per inceptos himenaeos. Duis hendrerit elit.</p>
                            <p>2. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu consectetur nulla. Cras at eleifend
                                lorem, quis efficitur diam. Duis risus felis, vestibulum quis tempus sit amet, ullamcorper vitae tortor.
                                Sed vestibulum sapien.</p>
                            <p>3. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ornare, nulla non maximus eleifend,
                                ipsum quam pharetra leo, tempor iaculis.</p>
                            <p>4.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non rutrum ipsum. Integer hendrerit
                                scelerisque nibh, quis convallis lacus tristique id. Quisque sit amet tempor orci, eget ullamcorper
                                elit. Morbi quis purus dapibus, efficitur mi sit amet, euismod massa. Ut maximus felis eget ex congue
                                dignissim. Nullam mollis mi eget justo consectetur consequat. In lacus felis, consectetur ac nibh
                                vel.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>