.floor-plan-container {
    position: relative;
    width: 100%;
  }
  
  .floor-plan-image {
    width: 100%;
    height: auto;
  }
  
  .seat-button {
    position: absolute;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
    width: 40px;
    height: 40px;
  }

.seat-button.open {
    background-color: #329250;
    border-color: #329250;
    color: white;
  }

.seat-button.open:hover {
  background-color: #0082ff;
  border-color: #0082ff;
  color: white;
}

  .seat-button.selected {
    background-color: #0082ff;
    border-color: #0082ff;
    color: white;
  }

  .seat-button.notAvailable {
    background-color: red;
    border-color: red;
    color: white;
  }